@charset "UTF-8";
body{
    background-image: url('https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80');
    background-size: 2000px 940px;/*comando para alterar a largura e altura da imagem*/
    background-repeat: no-repeat;/*Comando para inserir as imagens sem repetir*/
    /*background-repeat: repeat-x;*//*Comando para inserir as imagens repetidamente apenas na horizontal*/
    /*background-repeat: repeat-y;*//*Comando para inserir as imagens repetidamente apenas na vertical*/

}